########### BACKEND SETTINGS ###########
DJANGO_SECRET_KEY
DJANGO_SETTINGS_MODULE
ALLOWED_HOSTS

EMAIL_PORT
EMAIL_HOST
EMAIL_HOST_PASSWORD
EMAIL_HOST_USER

SENTRY_DSN

CLOUDINARY_BUCKET_NAME
CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET
CLOUDINARY_API_PROXY

################## FRONTEND ##################
REACT_APP_API_URI
