########### BACKEND SETTINGS ###########
DJANGO_SECRET_KEY
DJANGO_SETTINGS_MODULE
ALLOWED_HOSTS

EMAIL_PORT
EMAIL_HOST
EMAIL_HOST_PASSWORD
EMAIL_HOST_USER

AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
AWS_STORAGE_BUCKET_NAME

SENTRY_DSN

########### CELERY SETTINGS ###########
REDIS_URL

################## POSTGRES DB ##################
POSTGRES_PORT
POSTGRES_HOST
POSTGRES_DB
POSTGRES_USER
POSTGRES_PASSWORD



################## FRONTEND ##################
REACT_APP_API_URI
