########### DJANGO SETTINGS ###########
DJANGO_SECRET_KEY
DJANGO_SETTINGS_MODULE
ALLOWED_HOSTS

EMAIL_PORT
EMAIL_HOST
EMAIL_HOST_PASSWORD
EMAIL_HOST_USER


########### CELERY SETTINGS ###########
REDIS_URL

################## POSTGRES DB ##################
POSTGRES_PORT
POSTGRES_HOST
POSTGRES_DB
POSTGRES_USER
POSTGRES_PASSWORD
