@import "base/reset";
@import "components/Input/input.scss";
@import "components/page-title/page-title";
@import "components/About/about";
@import "components/Faq/faq";
@import "pages/Advertisement.scss";
@import "pages/Conference.scss";

body {
  overflow-y: hidden;
}

.scrollContainer {
  overflow-y: scroll;
  height: 100dvh;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}
