{% extends 'base.html' %}
{% load static %}

{% block title %}
Receipt Upload
{% endblock title %}

{% block content %}
<div class="card w-100">
    <div class="card-body">
        <p class="card-text">
            Hi <strong>{{ user.first_name|title }} {{ user.last_name|title }}</strong>,  
            your receipt for <strong>{{ submission_type }}</strong> in the  
            <i>6th International Conference on Scientific Research in Nigeria</i> has been successfully uploaded.
        </p>
        <p class="card-text">
            We are currently verifying your payment. You will receive an email notification once the verification is complete.
        </p>
    </div>
</div>
{% endblock content %}
