{% extends 'base_email.html' %}

{% block subject %}
    Payment Verification Confirmation
{% endblock subject %}

{% block content %}
    <p>Dear <strong>{{ user.first_name|title }} {{ user.last_name|title }}</strong>,</p>

    <p>We are pleased to inform you that your payment for the 
        <i>6th International Conference on Scientific Research in Nigeria</i> has been successfully verified.</p>


    <p>If you have any questions, feel free to reach out to our support team.</p>

    <p>We look forward to seeing you at the conference!</p>

    <p>Best regards,</p>
{% endblock content %}
