{% extends 'base.html' %}
{% load static %}

{% block title %}
    User Registration
{% endblock title %}

{% block style %}
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
            margin: 10px 0;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }
        .button:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock style %}

{% block content %}
    <div class="card w-100">
        <div class="card-body">
            <p class="card-text">
                Hi <strong>{{ user.first_name|title }} {{ user.last_name|title }}</strong>,
                welcome! We are excited to have you join the
                <i>6th International Conference on Scientific Research in Nigeria</i>.
                Thank you for registering!
            </p>

            {% if not user.event.receipt %}
                <p class="card-text">
                    To complete the registration process, please submit receipt of payment for the registration.
                </p>
                <a href="{{clearance_submission_link}}">
                    <button class="button">Upload Payment Receipt</button>
                </a>

                <p class="card-text">
                    If you need information on the registration fee, please visit our registration page.
                </p>
                <a href="{{registration_link}}">
                    <button class="button">Registration Page</button>
                </a>
            {% else %}
                <p class="card-text">
                    You can now submit your abstract for the conference.
                </p>
                <a href="{{abstract_submission_link}}">
                    <button class="button">Submit Abstract</button>
                </a>
            {% endif %}

            <p class="card-text">
                If you have any questions, feel free to contact us. We look forward to seeing you at the event!
            </p>
        </div>
    </div>
{% endblock content %}
