{% extends 'base.html' %}
{% load static %}


{% block title %}
User Registration
{% endblock title %}



{% block content %}
<div class="card w-100">
    <div class="card-body">
      <p class="card-text">
            Hi, {{user.first_name|title}} {{user.last_name|title}} Thank you for signing up for the <i>THE 5th INTERNATIONAL CONFERENCE ON SCIENTIFIC RESEARCH IN NIGERIA</i>. We are excited to have you join us and are looking forward to an exciting and informative event.
        We noticed that your registration has not been verified.
       </p>
       <p class="card-text"> 
         In order to finalize your registration and seure your spot at the event, we need to verify your information. Please click the link to verify your registration <a href="{{link}}">here</a>. 
        We look forward to your participation at the event!
           
        Best regards, 
        UI NACOS Team.

      </p>
    </div>
  </div>
{% endblock content %}
